<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">
            <span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-education"></span> Documents</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-info-sign"></span> Info
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a>
            </li>
            <li>
              <a href="#">Report issue</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-book"></span> Project on GitHub</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-gift"></span> Donate</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href="#">Sign in</a>
        </li>
        <li class="navbar-right">
          <a href="#">Log in</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>