/*------------- Reset browser differences ------------- */

* {
	padding: 0;
	margin: 0;
}


/* ------------ Body styles ------------ */

body {
	background-color: #f0f1f3;
	color: #667073;
	font: 16px/1.3 'Arial', sans-serif;
}


/* ------------ Header styles ------------ */


/* ------ Home ------ */

.homebanner {
	height: 120px;
	background-color: #3c4446;
}

.homebannertext {
	text-align: center;
	padding-top: 35px;
	font-family: 'Open Sans Condensed', serif;
	font-weight: bold;
	color: white;
}

.homebannertext span {
	color: #d6441b;
}

#logo {
	text-decoration: none;
	color: white;
}

#logo:visited {
	color: white;
}


/* ------ Invite ------ */

.banner {
	height: 60px;
	background-color: #3c4446;
	margin-bottom: 100px;
}

.bannertext {
	display: block !important;
	text-align: center;
	margin-top: 0px;
	padding-top: 15px;
	font-family: 'Open Sans', serif;
	font-weight: bold;
	color: white;
	font-size: 25px;
}


/* ------ Connected ------*/

.connected {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 60%;
	height: 350px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
}

.connected h2 {
	padding-top: 20px;
}

.infoConnected {
	text-align: left;
	float: center;
}

.loginForm {
	display: inline-block;
}

#creatorImage {
	float: right;
	margin: 50px 10px 0 60px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#yourName {
	float: left;
	padding-left: 10px;
	width: 250px;
	height: 40px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	margin-bottom: 20px;
	overflow: hidden;
}

#yourEmail {
	float: left;
	padding-left: 10px;
	width: 250px;
	height: 40px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	margin-bottom: 40px;
}

#yourEnter {
	float: left;
	width: 120px;
	height: 40px;
	text-align: center;
	background-color: #73b4d4;
	border: none;
	box-shadow: 3px 3px 3px #efedee;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}


/* ------ Person Inside ------*/

.personinside {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 70%;
	height: 340px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
}

.personinside h2 {
	padding-top: 20px;
	width: 250px;
	overflow: hidden;
}

.infoInside {
	text-align: left;
	float: left;
}

#ownerImage {
	float: left;
	margin: 45px 0 0 100px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#hisName {
	float: left;
	padding-left: 10px;
	width: 250px;
	height: 40px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	margin-bottom: 20px;
	overflow: hidden;
}

#hisEmail {
	float: left;
	padding-left: 10px;
	width: 250px;
	height: 40px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	margin-bottom: 30px;
}

#hisEnter {
	float: left;
	width: 110px;
	height: 50px;
	text-align: center;
	background-color: #73b4d4;
	border: none;
	box-shadow: 3px 3px 3px #efedee;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}


/* ------ Invite ------ */

.invite-textfield {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 70%;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
}

.invite-textfield .panel {
	width: 70%;
	margin: 0 auto;
	background-color: whitesmoke;
	padding: 10px 20px 70px 20px;
}

.invite-textfield h2 {
	padding-top: 30px;
}

.invite-textfield h5 {
	font-size: 16px;
	font-weight: normal;
	margin: 10px 0 35px;
}

.invite-textfield .input-group {
	float: left;
}

.invite-textfield label {
	font-weight: normal;
	float: left;
	font-size: 14px;
}

.invite-textfield #link {
	text-decoration: none;
	color: #637277;
}


/* ------ Left ------*/

.left {
	text-align: center;
	display: block;
	margin: 0px auto;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
	margin-bottom: 400px;
}

.left h2 {
	padding-top: 50px;
	padding-bottom: 6px;
}

.left h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#leftImage {
	float: initial;
	margin: 70px 0 0 200px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.nickname-left {
	width: 40px;
	overflow: hidden;
}


/* ------ Too many People ------*/

.toomanypeople {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 750px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
}

.toomanypeople h2 {
	padding-top: 100px;
	padding-bottom: 8px;
}

.toomanypeople h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#room:visited {
	color: #88bfd4;
}


/* ------ No Messages ------ */

.nomessages {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 70%;
	height: 140px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
	margin-bottom: 350px;
}

.nomessages h2 {
	font-size: 30px;
	padding-top: 0px;
	overflow: hidden;
	padding-bottom: 6px;
}

.nomessages h5 {
	font-weight: normal;
	margin-bottom: 10px;
}

#noMessagesImage {
	float: left;
	margin: 20px 0 0 0px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#img {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.info {
	text-align: left;
	overflow: hidden;
}

.nickname-chat {
	overflow: hidden;
}


/* ------ Chat Screen ------ */

.image {
	clear: both;
	float: left;
	height: 160px;
	width: 80px;
	text-align: center;
	overflow: hidden;
}

.image img {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.body {
	text-align: center;
	width: 40%;
	display: block;
	margin: 0px auto 650px;
	background-color: #ffffff;
	color: #637277;
}

.chats {
	list-style-type: none;
	margin-top: 10px;
}

.me {
	clear: both;
	float: left;
	margin-bottom: 35px;
}

.you {
	clear: both;
	float: right;
	margin-bottom: 35px;
}

.you .image {
	float: right;
}

.chats .me p {
	text-align: left;
	font-size: 16px;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 510px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #E3E4E6;
	color: #637277;
	line-height: 1.4;
	word-wrap: break-word;
}

.chats .you p {
	text-align: left;
	font-size: 16px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 410px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #E3E4E6;
	color: #637277;
	line-height: 1.4;
	word-wrap: break-word;
}

.image b {
	overflow: hidden;
	font-size: 14px;
	display: block;
	clear: both;
	padding-top: 7px;
}

.image i {
	font-size: 12px;
	line-height: 1.2;
	display: block;
	opacity: 0.8;
	padding-top: 4px;
}


/* ------------ Footer styles ------------ */

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding-top: 10px;
	background-color: #ffffff;
	height: 86px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

footer .container {
	width: 50vw;
	padding-left: 0;
	padding-right: 0;
	border: 0;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 0px 3px 3px #e3e4e6;
}

#chatform {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

#message {
	float: right;
	outline: none;
	margin: 0;
	height: 65px;
	flex-grow: 1;
	font-size: 17px;
	background-color: transparent;
	border: 0;
	border-radius: 50px 0 0 50px;
	padding-left: 20px;
	padding-right: 2px;
	padding-top: 15px;
	resize: none;
}

#submit {
	float: right;
	background-color: #73b4d4;
	width: 65px;
	height: 65px;
	flex-grow: 0;
	border: none;
	border-radius: 50px 50px 50px 50px;
	color: white;
	font-weight: bold;
	font-size: 22px;
	outline: none;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}


/* ---------------------- HIDE -------------------------- */

.connected {
	display: none;
}

.personinside {
	display: none;
}

.invite-textfield {
	display: none;
}

.left {
	display: none;
}

.toomanypeople {
	display: none;
}

.nomessages {
	display: none;
}

.chatscreen {
	display: none;
	margin: 0 auto 200px;
	overflow: hidden;
}

footer {
	display: none;
}

@media screen and (max-width: 767px) {
	.banner {
		height: 35px;
		margin-bottom: 10px;
	}
	.bannertext {
		font-size: 16px;
		padding-top: 9px;
	}
	.connected {
		width: auto;
		height: 270px;
	}
	.connected h2 {
		padding-top: 0px;
	}
	.infoConnected {
		margin: 0 0 0 0px;
		float: initial;
	}
	.infoConnected h2 {
		font-size: 18pt;
	}
	.infoConnected h5 {
		font-size: 9pt;
	}
	#creatorImage {
		float: right;
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 0px;
		width: 50px;
		height: 50px;
	}
	#yourName {
		margin-bottom: 12px;
	}
	#yourEmail {
		margin-bottom: 25px;
	}
	/* ------ Person Inside ------*/
	.personinside {
		width: auto;
		height: 290px;
	}
	.personinside h2 {
		width: auto;
		padding-top: 5px;
		font-size: 18pt;
	}
	.infoInside {
		margin: 0 0 0 0px;
		float: initial;
	}
	#ownerImage {
		float: right;
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 0px;
		width: 50px;
		height: 50px;
	}
	#hisName {
		margin-bottom: 12px;
	}
	#hisEmail {
		margin-bottom: 25px;
	}
	/* ------ No Messages ------ */
	.nomessages {
		margin: 0px auto;
		width: 100%;
		height: 100px;
		margin-bottom: 0px;
	}
	.nomessages h2 {
		font-size: 18px;
		padding-bottom: 2px;
	}
	.nomessages h5 {
		font-size: 9px;
		margin-bottom: 0;
	}
	#noMessagesImage {
		float: left;
		margin: 22px 0 0 0px;
		width: 50px;
		height: 50px;
	}
	/* ------ Invite ------ */
	.invite-textfield {
		width: auto;
		height: 250px;
	}
	.invite-textfield .panel {
		width: auto;
		padding: 10px 2px 70px 2px;
	}
	.invite-textfield h2 {
		font-size: 22px;
		padding-top: 15px;
	}
	.invite-textfield h5 {
		font-size: 14px;
	}
	/* ------ Left ------*/
	.left {
		margin: 0px auto;
		height: 200px;
		margin-bottom: 100px;
	}
	.left h2 {
		font-size: 22px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.left h5 {
		font-size: 14px;
		margin-bottom: 50px;
	}
	#leftImage {
		float: right;
		margin: 30px 0 0 0px;
		width: 50px;
		height: 50px;
	}
	.nickname-left {
		width: 50px;
	}
	/* ------ Chat Screen ------ */
	.chatscreen {
		margin: 0;
		padding-bottom: 70px;
	}
	.image {
		height: 60px;
		width: auto;
	}
	.image img {
		float: initial;
		width: 30px;
		height: 30px;
	}
	.image b {
		line-height: 1.0;
		padding-top: 0px;
	}
	.image i {
		font-size: 7pt;
		line-height: 1.0;
		padding-top: 2px;
	}
	.chats .you p {
		font-size: 12px;
		margin-right: 5px;
		margin-bottom: 10px;
		padding: 5px 8px;
		min-width: 200px;
		min-height: 10px;
		max-width: 200px;
		background-color: #FFF;
		line-height: 1.2;
	}
	.chats .me p {
		font-size: 15px;
		margin-left: 5px;
		margin-bottom: 10px;
		padding: 5px 8px;
		min-width: 200px;
		min-height: 10px;
		max-width: 200px;
		background-color: #FFF;
		line-height: 1.2;
	}
	/* ------------ Footer styles ------------ */
	footer {
		padding: 4px 0;
		height: auto;
	}
	footer .container {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	#chatform {
		width: 100%;
		height: auto;
	}
	#message {
		font-size: 15px;
		padding-left: 25px;
		padding-right: 5px;
		padding-top: 14px;
	}
	#submit {
		font-size: 24px;
	}
}