<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
        <link type="text/css" rel="stylesheet" href="../stylesheets/chat.css" />
</head>

<body>
    <header class="banner">
        <div class="container">
            <h1 class="bannertext">NODE.JS CHAT</h1>
        </div>
    </header>
    <div class="container">
        <div class="connected row">
            <div class="col-md-4">
                <img src="../images/unnamed.jpg" id="creatorImage" />
            </div>
            <div class="infoConnected col-md-8">
                <h2>Who're you?</h2>
                <h5>Please, enter your nickname and email</h5>
                <br/>
                <div class="form-box">
                    <form class="loginForm">
                        <input type="text" id="yourName" placeholder="Your nickname..." />
                        <br/>
                        <input type="text" id="yourEmail" placeholder="Your email address..." />
                        <br/>
                        <input type="submit" id="yourEnter" value="Enter" />
                    </form>
                </div>
            </div>
        </div>
        <div class="personinside row">
            <div class="col-md-4">
                <img src="../images/unnamed.jpg" id="ownerImage" />
            </div>
            <div class="infoInside col-md-8">
                <h2>Chat with
                    <span class="nickname-chat"></span>
                </h2>
                <br/>
                <form class="loginForm">
                    <input type="text" id="hisName" placeholder="Your nickname..." />
                    <br/>
                    <input type="text" id="hisEmail" placeholder="Your email address..." />
                    <br/>
                    <input type="submit" id="hisEnter" value="CHAT" />
                </form>
            </div>
        </div>
        <div class="invite-textfield row">
            <div class="col-md-12">
                <h2>Oops, there are no other people in this chat!</h2>
                <h5>Invite a friend by sending them this URL</h5>
                <div class="panel">
                    <label for="link">Copy link to your clipboard</label>
                    <div class="input-group">
                        <input id="link" type="text" value="..." class="form-control">
                        <div class="input-group-btn">
                            <button type="button" id="buffer" class="btn btn-default" aria-label="Copy to clipboard">
                                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left row">
            <div class="col-md-4">
                <img src="../images/unnamed.jpg" id="leftImage" />
            </div>
            <div class="info col-md-8">
                <h2>
                    <span class="nickname-left"></span> has left this chat.</h2>
                <h5>Invite somebody else by sending them this page.</h5>
            </div>
        </div>
        <div class="toomanypeople">
            <h2>Oops, you can not join this chat!</h2>
            <h5>There are already two people in it. Would you like to create a
                <a title="New Room" href="/create" id="room">new room</a>?</h5>
        </div>
        <div class="nomessages row">
            <div class="col-md-2">
                <img src="../images/unnamed.jpg" id="noMessagesImage" />
            </div>
            <div class="info col-md-10">
                <h2>You are chatting with
                    <span class="nickname-chat"></span>.</h2>
                <h5>Send them a message from the form below!</h5>
            </div>
        </div>
        <div class="chatscreen">
            <ul class="chats">
                <!-- The chat messages -->
            </ul>
        </div>
    </div>
    <footer>
        <div class="container">
            <form id="chatform">
                <textarea id="message" placeholder="Write something..."></textarea>
                <button type="submit" id="submit">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </footer>

    <script src="../scripts/moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/chat.js"></script>
</body>